<head>
    <title>routineGenerator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Routine Generator</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/subjects">Subjects</a></li>
                <li><a href="/exams">Exams</a></li>
                <li><a href="/holidays">Holidays</a></li>
                <li><a href="/routine">Routine</a></li>
                <li><a href="/seatplan">SeatPlan</a></li>
            </ul>
        </div>
    </nav>
</body>
<template name="baselayout">

    <div class="container">
        <div class="row">
            {{>Template.dynamic template=content}}
        </div>
    </div>
</template>

<template name="hello">
    <p><h4>Hi Bangladesh </h4></p>
</template>
