<template name="seatPlanTemplate">

<div class="row">
    <br>
    <h3>Generated Seatplan</h3>
    <button type="button" id="btnGenerate" class="btn btn-warning">Re-Generate</button>
    <button type="button" id="btnPdfGenerate" class="btn btn-primary">Download Pdf</button>
    <hr>
</div>
<div id="pdfSeatplan" class="row">
    <table class="table table-bordered" style="text-align:center">
        <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
        </thead>
        <tbody>
        {{#each seatPlan}}
            <tr>
                <td>class {{seat1}}</td>
                <td>class {{seat2}}</td>
                <td>class {{seat3}}</td>
            </tr>
        {{/each}}

        </tbody>
    </table>
</div>
</template>