<template name="holidaysTemplate">
<div class="row">
    <h3>Add new Holiday</h3>
    <form id="addHolidays" class="form-inline">
        <div class="form-group">
            <label for="hdate">Title:</label>
            <input type="date" class="form-control" id="hdate" required="true">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
<div class="row">
    <br>
    <h4>All Listed Holidays</h4>
    <hr>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each holidayList}}
        <tr>
            <td>{{hdate}}</td>
            <td align="right">
                <button id={{_id}} type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        {{/each}}

        </tbody>
    </table>
</div>
</template>