<template name="routineTemplate">
<div class="row">
    <h3>Generate Routine</h3>
    <form id="selectExam" class="form-inline">
        <div class="form-group">
            <label for="examId">Exam :</label>
            <select class="form-control" id="examId" required="true">
                {{#each examList}}
                    <option value="{{_id}}">{{title}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Generate</button>
        <button type="button" id="btnPdfGenerate" class="btn btn-primary">Download Pdf</button>
    </form>
</div>
<div class="row">
    <br>
    <h4>Generated Routine</h4>
    <hr>
</div>
<div id="pdfRoutine" class="row">
    <table class="table table-striped" id="routineTable" >
        <thead>
        <tr>
            <th></th>
            <th>Slot 1<br>1:00-10:00</th>
            <th>Slot 2<br>2:00-05:00</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Subject</th>
            <th>Subject</th>

        </tr>
        </thead>
        <tbody>


        </tbody>
    </table>
</div>
</template>