<template name="subjectsTemplate">
<div class="row">
    <h3>Add new subject</h3>
    <form id="addSubject" class="form-inline">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" required="true">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
<div class="row">
    <br>
    <h4>All Listed Subjects</h4>
    <hr>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each subjectList}}
        <tr>
            <td>{{title}}</td>
            <td align="right">
                <button id={{_id}} type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        {{/each}}

        </tbody>
    </table>
</div>
</template>