<template name="examsTemplate">
<div class="row">
    <h3>Add new Exam</h3>
        <form id="addExam" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Title:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="title" placeholder="Enter name for exam" required="true">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="duration"></label>
                <div id="duration" class="form-inline">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="startDate">Start:</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="startDate" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="endDate">End:</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="endDate" required="true">
                        </div>
                    </div>

                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
</div>
<div class="row">
    <br>
    <h4>All Listed Exams</h4>
    <hr>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        {{#each examList}}
        <tr>
            <td>{{title}}</td>
            <td>{{startDate}}</td>
            <td>{{endDate}}</td>
            <td align="right">
                <button id={{_id}} type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        {{/each}}

        </tbody>
    </table>
</div>
</template>